.logo-img{
    width: 80px;
}

img{
    width: 100%;
}
.nav-link{
    color: navy;
    font-weight: 900;
    font-size: 1.1rem;
}
.footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}
.footer a{
    font-size: 2rem;
    text-decoration: none;
}
.socio {
    text-decoration: none;
    font-size: 2rem;
    color: blue;
    text-shadow: 0px 0px 3px black;

}
.socio:hover {
    color: yellow;
    text-shadow: 0px 0px 3px black;
}
.zoom:hover{
    transform: scale(1.5);
}
.zoom {
    transition: 0.5s;

}
.col-md-5{
    
overflow:hidden;
}


